/* <|----------- Its not best, but... its working -----------|> */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #101010;
  cursor: url("../../cursor/pointer.cur"), pointer;
  overflow: hidden;
  user-select: none;
}

/* <|------------------- BG Canvas -------------------|> */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0; /* Ensure the canvas is behind other content */
}
/* <|------------------- BG Canvas -------------------|> */

#lwrapper {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #loading-bar-container {
    width: 50%;
    height: 20px;
    background: transparent;
    border: 0.2em solid var(--main-color);
    border-radius: 0px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    outline: 0.6mm solid var(--main-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
  }

  #loading-image {
    margin-top: 100px;
    margin-bottom: 25px; /* Space between the image and the loading bar */
    width: 20%;
    filter: drop-shadow(0 0 0.25em var(--main-color));
  }

  .block {
    flex-grow: 1;
    width: 0;
    height: 20px;
    margin: 1px;
    background: transparent;
    position: relative;
  }
  .block::before {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 10px;
    width: 2px;
    background: var(--main-color);
  }
  .block:last-child::before {
    display: none;
  }

  #loading-text {
    --glow-color: var(--main-color);
    color: var(--main-color);
    font-size: 40px;
    font-weight: 600;
    margin-top: 25px;
  }

  #clickme {
    background-color: #ff0000;
    border: none;
    border-radius: 1em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    cursor: url("../../cursor/link.cur"), pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i,
#main-title,
#about,
.not_found,
#edu,
#skills,
svg {
  --glow-color: rgb(255, 255, 255);
  color: #fff;
  font-family: "Monospace Neon", monospace;
  text-shadow: 0 0 0.25em var(--glow-color);
  animation: pulse 1s infinite ease;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the wrapper takes at least the full viewport height */
}

.content {
  flex: 1; /* Take up remaining space */
  position: relative;
  z-index: 1; /* Ensure content is above the canvas */
  color: white;
  text-align: center;
  padding: 20px;
}

.main-title,
[class^="container-"] {
  min-height: 100vh;
  position: relative;
}

#main-title {
  font-size: 200px;
  text-align: center;
  letter-spacing: 12px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(8px) saturate(180%);
  border-radius: 0.25em;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 3s steps(22) forwards;
}

#about,
#edu,
#skills {
  width: fit-content;
  position: relative;
  font-size: 100px;
  text-align: center;
  margin-top: 130px;
  font-weight: 500;
  border: 0.5em solid transparent;
  border-radius: 1em;
  backdrop-filter: blur(8px) saturate(180%);
  margin-left: auto;
  margin-right: auto;
}

#location,
#school,
#specialization {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  transition: all 0.3s ease-in-out;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    margin-top: 150px;
    margin-bottom: 200px;
    cursor: url("../../cursor/link.cur"), pointer;
  }
}

a,
i {
  border: 0.5em solid transparent;
  border-radius: 0.5em;
  outline: none;
  text-decoration: none;
  backdrop-filter: blur(8px) saturate(180%);
  transition: all 0.3s ease-in-out;
}

a:hover {
  box-shadow: 0 0 0.5em 0.25em #202020, 0 0 2em 0.5em #fff;
  border: 1em solid transparent;
  border-radius: 1em;
  font-size: 65px;
  cursor: url("../../cursor/link.cur"), pointer;
}

i:hover {
  box-shadow: 0 0 0.3em 0.25em #202020, 0 0 1.5em 0.5em #fff;
  border: 0.7em solid transparent;
  border-radius: 0.7em;
  font-size: 60px;
}

.slider {
  margin-top: 100px;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20% 70%,
    transparent
  );
  backdrop-filter: blur(8px) saturate(180%);

  .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
    pointer-events: auto;
    .time {
      color: white;
      --glow-color: white;
      font-size: 50px;
      text-shadow: 0 0 0.1em var(--glow-color);
      border-bottom: 0.1em solid var(--glow-color);
      display: inline-block;
      transition: all 1s ease-in-out;
    }

    .edu {
      width: var(--width);
      height: var(--height);
      position: absolute;
      left: 100%;
      animation: autoRun 10s infinite linear;
      animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
      animation-fill-mode: forwards;
      transition: filter 0.5s;
      
      h2,
      p {
        width: 100%;
      }

      p {
        font-size: 30px;
      }

      &:first-child {
        animation-delay: 0s;
      }

      &:hover {
        filter: grayscale(0);

        .time {
          color: green;
          --glow-color: green;
        }
      }
    }
  }

  &::before {
    pointer-events: none;
  }

  &:hover .edu {
    animation-play-state: paused !important;
    filter: grayscale(1);
  }
}

.hidden {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(8px) saturate(180%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background: #101010;
  padding: 20px;
  border-radius: 2em;
  text-align: center;
  outline: white solid 0.25em;

  button {
    --glow-color: rgb(255, 255, 255);
    background: #101010;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: url("../../cursor/link.cur"), pointer;
    color: white;
    font-family: Poppins;
    text-shadow: 0 0 0.25em var(--glow-color);
    animation: pulse 1s infinite ease;
    border-radius: 1em;
  }
}

/* <|----------- NFT Cards -----------|> */

.c-cards {
  height: fit-content;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 1s ease-in-out;
  margin-top: 100px;

  .nft {
    user-select: none;
    max-width: 300px;
    margin: 5rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(
      0deg,
      rgba(40, 44, 52, 1) 0%,
      rgba(17, 0, 32, 0.5) 100%
    );
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    /*-webkit-backdrop-filter: blur(7px);*/
    overflow: hidden;
    transition: 0.5s all;
  
    hr {
      width: 100%;
      border: none;
      border-bottom: 1px solid #88888855;
      margin-top: 0;
    }
  
    ins {
      text-decoration: none;
    }
  
    .main {
      display: flex;
      flex-direction: column;
      width: 270px;
      height: 370px;
      padding: 1rem;
  
      svg,
      img {
        width: auto;
        font-size: 100px; /* Adjust the size of the icon */
        padding: 16px;
        color: white; /* Adjust the color of the icon */
        animation: pulse2 1s infinite ease;
        filter: drop-shadow(
          0 0 00.25em rgba(255, 255, 255, 0.5)
        ); /* Add glow effect */
      }
  
      #code-slash {
        font-size: 100px;
        margin: 10px;
      }
  
      .description {
        margin: 0.5rem 0;
        color: #a89ec9;
      }
  
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          display: flex;
          align-items: center;
          color: #ee83e5;
          font-weight: 700;
          ins {
            margin-left: -0.3rem;
            margin-right: 0.5rem;
          }
        }
  
        .duration {
          display: flex;
          align-items: center;
          color: #a89ec9;
          margin-right: 0.2rem;
          ins {
            margin: 0.5rem;
            margin-bottom: 0.4rem;
          }
        }
      }
  
      .creator {
        display: flex;
        align-items: center;
        margin-top: 0.2rem;
        margin-bottom: -0.3rem;
  
        ins {
          color: #a89ec9;
          text-decoration: none;
        }
  
        .c-wrapper {
          display: flex;
          align-items: center;
          border: 1px solid #ffffff22;
          padding: 0.3rem;
          margin: 0;
          margin-right: 0.5rem;
          border-radius: 100%;
          box-shadow: inset 0 0 0 4px #000000aa;
  
          img {
            border-radius: 100%;
            border: 1px solid #ffffff22;
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            margin: 0;
          }
        }
      }
    }
  
    ::before {
      position: fixed;
      content: "";
      box-shadow: 0 0 100px 40px #ffffff08;
      top: -10%;
      left: -100%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: 0.7s all;
    }
  
    &:hover {
      border: 1px solid #ffffff44;
      box-shadow: 0 7px 50px 10px #000000aa;
      transform: scale(1.015);
      filter: brightness(1.3);
  
      ::before {
        filter: brightness(0.5);
        top: -100%;
        left: 200%;
      }
    }
  }
}

/* <|----------- NFT Cards -----------|> */

.container-soon {
  display: flex;
  justify-content: center;
  align-items: center;

  #soon {
    text-align: center;
    padding: 2em;
    border-radius: 1em;
    background-color: rgba(
      255,
      255,
      0,
      0.664
    ); /* Yellow with slight transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    backdrop-filter: blur(8px) saturate(180%);
  }

  h1,
  p {
    color: #101010; /* Text color */
  }

  i {
    all: unset;
    display: block;
    filter: invert();
    scale: 2;
    margin: 0 1em;
  }
}

footer {
  .footer {
    width: fit-content;
    margin: -14vh auto;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    text-align: center;
    backdrop-filter: blur(8px) saturate(180%);
    border-radius: 1em;
  }
}

@keyframes pulse {
  0%,
  100% {
    text-shadow: 0 0 0.25em var(--glow-color);
  }
  50% {
    text-shadow: 0 0 0.2em var(--glow-color);
  }
}

@keyframes pulse2 {
  0%,
  100% {
    filter: drop-shadow(0 0 0.25em rgba(255, 255, 255, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 0.2em rgba(255, 255, 255, 0.4));
  }
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
